.filter {
  border: 1px solid black;
  padding: 0.5em;
  margin: 1em;
  min-height: 130px;
  width: 130px;
}

.filter-value {
  padding-bottom: 1em;
  text-align: left;
}

.filter-value:hover {
  border-color: #213547;
  font-weight: bold;
}

.read-the-docs {
  color: #888;
}

.container {
  width: 500px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.row-item{
  text-align: left;
  border-left: 1px solid #ddd;
  padding: 4px 2px;
}

.header {
  font-weight: bold;
  background: #f5f5f5;
  border-right: 1px solid #ddd;
  margin-top: 3.7em;
}

.header-item {
  font-weight: bold;
  text-align: left;
  padding: 8px 4px;
  border-left: 1px solid #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}
.pagination-page {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
}

.active-filter{
  text-align: left;
  background-color: #a4e1a4;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nested-filter{
  text-align: left;
  margin-left: 10px;
}
.filter-wrapper{
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

.reset-button{
  background-color: #a4e1a4;
  font-weight: bold;
}

.data-info{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 15px;
  width: 300px;
  align-items: flex-start;
  margin: 0 auto;
}

.data-info-text {
  padding-bottom: 5px;
}

.label{
  font-weight: bold;
  padding-right: 5px;
}